@font-face {
    font-family: 'AktivGrotesk';
    src: url('AktivGrotesk-Thin.eot');
    src: url('AktivGrotesk-Thin.eot?#iefix') format('embedded-opentype'),
        url('AktivGrotesk-Thin.woff2') format('woff2'),
        url('AktivGrotesk-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    
}

@font-face {
    font-family: 'AktivGrotesk';
    src: url('AktivGrotesk-Hairline.eot');
    src: url('AktivGrotesk-Hairline.eot?#iefix') format('embedded-opentype'),
        url('AktivGrotesk-Hairline.woff2') format('woff2'),
        url('AktivGrotesk-Hairline.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    
}

@font-face {
    font-family: 'AktivGrotesk';
    src: url('AktivGrotesk-Light.eot');
    src: url('AktivGrotesk-Light.eot?#iefix') format('embedded-opentype'),
        url('AktivGrotesk-Light.woff2') format('woff2'),
        url('AktivGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    
}

@font-face {
    font-family: 'AktivGrotesk';
    src: url('AktivGrotesk-Regular.eot');
    src: url('AktivGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
        url('AktivGrotesk-Regular.woff2') format('woff2'),
        url('AktivGrotesk-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    
}

@font-face {
    font-family: 'AktivGrotesk';
    src: url('AktivGrotesk-Medium.eot');
    src: url('AktivGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
        url('AktivGrotesk-Medium.woff2') format('woff2'),
        url('AktivGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    
}


@font-face {
    font-family: 'AktivGrotesk';
    src: url('AktivGrotesk-Bold.eot');
    src: url('AktivGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
        url('AktivGrotesk-Bold.woff2') format('woff2'),
        url('AktivGrotesk-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    
}

@font-face {
    font-family: 'AktivGrotesk';
    src: url('AktivGrotesk-XBold.eot');
    src: url('AktivGrotesk-XBold.eot?#iefix') format('embedded-opentype'),
        url('AktivGrotesk-XBold.woff2') format('woff2'),
        url('AktivGrotesk-XBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    
}

@font-face {
    font-family: 'AktivGrotesk';
    src: url('AktivGrotesk-Black.eot');
    src: url('AktivGrotesk-Black.eot?#iefix') format('embedded-opentype'),
        url('AktivGrotesk-Black.woff2') format('woff2'),
        url('AktivGrotesk-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    
}



